:root {
  --bg: #191919;
  --card: #ffffff;
  --card-locked: #252525;
  --muted: #777;
  --accent: #9bc88d;
  --violet:  #8f00ff;
  --black: hsl(0, 0%, 0%);
  --radius: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background: var(--bg);
  color: #000;
}

.plan-title {
  color: #fff;
}

/* Main */
main {
  padding: 40px 48px;
  padding-top: 134px;
}

section {
  margin-bottom: 80px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  position: relative;
  background: var(--card);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  background-color: var(--card-locked);
  max-width: 280px;

}

.card-image {
  height: 180px;
  width: 100%;
}

.card-image.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: var(--card-locked);
}

.card-body {
  padding: 24px;
  padding-bottom: 15px;
  color:white;
}

.card-body h3 {
  margin: 0 0 8px;
  font-size: 22px;
}

.card-body p {
  margin: 0;
  color: var(--muted);
  font-size: 14px;
}

/* Next button */
.next-btn {
  background: none;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.card-actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}


/* Locked state */
.card.locked {
  background: var(--card-locked);
}

.card.locked .card-body {
  opacity: 0.2;
}

.locked-banner {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: var(--violet);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 999px;
  font-size: 12px;
}




.container {
    text-align: center;
}