:root {
    --radius: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.box{
    width: 100%;
    max-width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #202020;
    text-align: center;
    box-shadow: 0 0px 20px rgba(143, 0, 255, 0.5);
    border-radius: 40px;
    margin-top: 20px;
}

.box h1{
    color: white;
    margin-bottom: 30px;
    font-size: 40px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}

.inputBox span{
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

.inputBox input{
    background-color: var(--bgGlass);
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0,5s ease;
}

.inputBox input:focus{
    outline: none;
    border-color: var(--violetGlass);
}

.Login{
    background-color: var(--violetGlass);
    border: solid 2px var(--violetGlass);
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    color: white;
}

.Login:hover{
    background-color: var(--violetGlass1);
}

.links{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.links a{
    text-decoration: none;
    color: var(--muted);
    font-size: 14px;
}

.links a:hover{
    text-decoration: underline;
}

.altro{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}



footer {
    /* Rimuoviamo il fixed e il width 99% */
    position: absolute;
    bottom: 20px; /* Distanza dal bordo inferiore della pagina */
    
    /* 2. Larghezza e centraggio della linea */
    left: 20px;  /* Spazio a sinistra */
    right: 20px; /* Spazio a destra (identico per centrare) */
    width: auto; /* Importante: annulla il 99% o il 100% */
    
    /* 3. Stile della linea */
    border-top: 1px solid gray;
    padding-top: 20px;
    text-align: center;
    color: gray;
    z-index: 10;
    bottom: 0;
}

@media (max-width: 768px) {
    .box{
        width: 350px;
    }

    .box h1{
        font-size: 30px;
    }


    .inputBox{
        margin: 10px;
    }

    .inputBox span{
        font-size: 15px;
    }

    .button{
        width: 100%;
        font-size: 15px;
    }

    .Login{
        width: calc(100%);
        font-size: 15px;
        justify-content: center;
        margin: 10px;
        margin-left: 0;
    }
}
